{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex flex-column justify-content-center align-items-center">

        <div class="my-5">
            <h1>Welcome to DropBox</h1>
            <p> Create an account now! or Login</p>
        </div>
        {% if error is defined %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        {% if message is defined %}
            <div class="alert alert-success">{{ message }}</div>
        {% endif %}

        <ul style="width: 40vw !important;" class="nav nav-pills nav-justified" id="userTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab"
                   aria-controls="login"
                   aria-selected="false">Log In</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="signup-tab" data-toggle="tab" href="#signup" role="tab" aria-controls="profile"
                   aria-selected="true">Sign up</a>
        </ul>

        <div class="tab-content" id="signup-tab">
            <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab"
                 class=" h-100">
                <div class="card" style="width: 40vw">
                    <div class="card-body">
                        <form method="post" action="{{ path('app_login') }}">
                            <h1 class="h3 mb-3 font-weight-normal">Login </h1>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" name="email" class="form-control"
                                       id="email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" class="form-control" id="password">
                            </div>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="signup" role="tabpanel" aria-labelledby="signup-tab" class=" h-100">
                <div class="card" style="width: 40vw">
                    <div class="card-body">
                        <form method="POST" action="{{ path('create_user') }}">
                            <div class="form-group">
                                <label for="username">User name</label>
                                <input type="text" name="username" class="form-control" id="username" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" name="email" class="form-control" id="email"
                                       aria-describedby="emailHelp"
                                       required>
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                    anyone
                                    else.</small>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" class="form-control" id="password" required>
                            </div>
                            <div class="text-muted my-4">
                                <small>
                                    By clicking Sign Up, you agree to our Terms. Learn how we collect, use and share
                                    your
                                    data
                                    in
                                    our Data Policy and how we use cookies and similar technology in our Cookies Policy.
                                    <br>You may receive SMS Notifications from us and can opt out any time.
                                </small>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
