<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}DropBox{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        {% endblock %}
    </head>
    <body style="height: 100vh;">
        {% if app.user %}
            <nav class="navbar navbar-dark bg-dark">
                <span class="navbar-text">
                    Welcome <b>{{ app.user.username }}</b>
                </span>
                <a class="btn btn-small btn-danger float-right" href="{{ path('app_logout') }}">Logout</a>
            </nav>

        {% endif %}
        <div class="container h-100">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.5.1.slim.min.js') }}"></script>
            <script src="{{ asset('js/popper.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
